@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
  display: block;
  padding: 5vh;
}

.NavigationMenuList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2vh 5vw;
  padding: 3vh 0vw;
  border: 2px solid black;
}

.NavigationMenuTrigger {
  min-width: 200px;
}

.NavigationMenuLink {
  width: 200px;
  display: block;
  text-align: center;
}

.NavigationMenuLink:hover,
.NavigationMenuTrigger:hover {
  text-decoration: underline;
}

.List-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  margin-left: 18vw;
  position: fixed;
}

.List-two {
  display: flex;
  flex-direction: column;
  margin-left: 47vw;
  position: fixed;
}

.Link {
  margin: 10px 0px;
  background-color: white;
  padding: 10px;
}

.Link:hover {
  text-decoration: underline;
}
